<!DOCTYPE html> 
<html lang="fr">
    <head>
    <meta charset="UTF-8"> 
    <title></title>
    <meta name="description" content="">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head> 
    <body> 
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid d-flex border-top-0 border-bottom border-dark">
                <div class="col col-2">
                    <img class="img-fluid m-2" src="/images/logo.png" alt="logo">
                </div>
                <ul class="navbar-nav">
                    <li>
                        <a class="btn btn-outline-secondary m-2 me-5" href="/recruter/myFichesList">Nos fiches de poste</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary m-2 me-5" href="/recruter/myOffersList">Nos offres</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary m-2 me-5" href="/recruter/addRecruter">Recruteurs</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary m-2 me-5" href="/recruter/applicationsList">Candidatures</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary m-2 me-5" href="/logout">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col col-12">
            <div class="row m-3">
                <div class="col col-1 ms-5">
                    <a class="btn btn-outline-secondary w-100" href="/recruter/myFichesList">Retour</a>
                </div>
                <div class="col col-9">
                    <h2 class="m-2 text-center"><%= title %></h2>
                </div>
            </div>
        </div>
        <form method="post" action="/recruter/newFiche">
            <div class="card m-5">
                <div class="d-flex flex-row justify-content-center">
                    <div class="col col-3 m-3">
                        <div class="row">
                            <label for="intitule">Intitule :</label>
                            <input type="text" id="intitule" name="intitule"><br>
                        </div>
                        <div class="col m-3">
                            <div class="p">Statut : </div>
                            <input type="radio" name="statut" id="cadre" value="cadre">
                            <label for="cadre">Cadre</label>
                            <input type="radio" name="statut" id="etam" value="etam">
                            <label for="etam">ETAM</label>
                            <input type="radio" name="statut" id="ouvrier" value="ouvrier">
                            <label for="ouvrier">Ouvrier</label>
                            <input type="radio" name="statut" id="liberal" value="liberal">
                            <label for="liberal">Liberal</label>
                            <input type="radio" name="statut" id="stagiaire" value="stagiaire">
                            <label for="stagiaire">Stagiaire</label>
                            <input type="radio" name="statut" id="apprenti" value="apprenti">
                            <label for="apprenti">Apprenti</label>
                        </div>
                        <div class="col m-3">
                            <div class="p">Type de métier : </div>
                            <input type="radio" name="type" id="sante" value="sante">
                            <label for="sante">sante</label>
                            <input type="radio" name="type" id="administration_gestion" value="administration_gestion">
                            <label for="administration_gestion">Administration et gestion</label>
                            <input type="radio" name="type" id="enseignement" value="enseignement">
                            <label for="enseignement">enseignement</label>
                            <input type="radio" name="type" id="vente_commerce" value="vente_commerce">
                            <label for="vente_commerce">Vente et commerce</label>
                            <input type="radio" name="type" id="informatique_tic" value="informatique_tic">
                            <label for="informatique_tic">Informatique et TIC</label>
                            <input type="radio" name="type" id="ingenerie_construction" value="ingenerie_construction">
                            <label for="ingenerie_construction">Ingénerie et construction</label>
                            <input type="radio" name="type" id="hotellerie_restauration" value="hotellerie_restauration">
                            <label for="hotellerie_restauration">Hotellerie et restauration</label>
                            <input type="radio" name="type" id="marketing_communication" value="marketing_communication">
                            <label for="marketing_communication">Marketing et communication</label>
                            <input type="radio" name="type" id="finance" value="finance">
                            <label for="finance">Finance</label>
                            <input type="radio" name="type" id="industrie" value="industrie">
                            <label for="industrie">Industrie</label>
                        </div>
                    </div>
                    <div class="col col-5 m-3">
                        <div class="row">
                            <label for="description">Description :</label>
                            <input type="text" id="description" name="description"><br>
                        </div>
                        <div class="row mt-2">
                            <label for="responsable">Responsable :</label>
                            <input type="text" id="responsable" name="responsable"><br>
                        </div>
                        <div class="row">
                            <label for="rythme">Rythme :</label>
                            <input type="text" id="rythme" name="rythme"><br>
                        </div>
                    </div>
                    <div class="col col-3 m-3">
                        <div class="row">
                            <label for="salaireMin">Salaire Min :</label>
                            <input type="text" id="salaireMin" name="salaireMin"><br>
                        </div>
                        <div class="row">
                            <label for="salaireMax">Salaire Max :</label>
                            <input type="text" id="salaireMax" name="salaireMax"><br>
                        </div>
                        <div class="row">
                            <label for="lieu">Lieu :</label>
                            <input type="text" id="lieu" name="lieu"><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <button type="submit" class="btn btn-outline-primary" href="">Valider</button>
            </div>
        </form>        
    </body> 
</html>